openapi: 3.2.0
info:
  title: Routific Route Optimization Jobs API
  description: 'Routific''s Route Optimization API solves the vehicle routing problem (VRP)

    and the pickup-and-delivery problem (PDP) for last-mile delivery fleets.'
  version: '1.11'
  contact:
    name: Routific Support
    email: support@routific.com
    url: https://docs.routific.com
  termsOfService: https://routific.com/terms
  license:
    name: Routific Terms of Service
    url: https://routific.com/terms
  x-logo:
    url: https://routific.com/favicon.ico
servers:
- url: https://api.routific.com
  description: Production Server
security:
- BearerAuth: []
tags:
- name: Jobs
  description: Asynchronous long-running optimization jobs.
paths:
  /jobs/{job_id}:
    get:
      summary: Get Optimization Job Status
      description: 'Retrieve the status and result of an asynchronous routing job submitted

        via `/v1/vrp-long` or `/v1/pdp-long`. Statuses are `pending`,

        `processing`, `finished`, or `error`. When `finished`, the response

        payload is in `output`.'
      operationId: getJob
      tags:
      - Jobs
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
        description: Identifier returned by `/v1/vrp-long` or `/v1/pdp-long`.
      responses:
        '200':
          description: Current job state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Job:
      type: object
      description: Asynchronous optimization job state.
      required:
      - status
      properties:
        job_id:
          type: string
        status:
          type: string
          enum:
          - pending
          - processing
          - finished
          - error
        created_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        output:
          oneOf:
          - $ref: '#/components/schemas/VrpSolution'
          - type: string
          description: Solution payload when status is `finished`; error message when `error`.
    VrpSolution:
      type: object
      description: Optimized solution returned by the engine.
      properties:
        status:
          type: string
          enum:
          - success
          - error
        total_travel_time:
          type: integer
          description: Total travel time across all vehicles in minutes.
        total_idle_time:
          type: integer
        total_working_time:
          type: integer
        total_visit_lateness:
          type: integer
        num_late_visits:
          type: integer
        total_overtime:
          type: integer
        vehicle_overtime:
          type: object
          additionalProperties:
            type: integer
        num_unserved:
          type: integer
        unserved:
          oneOf:
          - type: array
            items:
              type: string
          - type: object
            additionalProperties:
              type: string
          description: Visits that could not be scheduled (or a map of visit-id to reason).
        solution:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/StopAssignment'
        polylines:
          type: object
          additionalProperties:
            type: string
          description: Encoded polyline per vehicle (when `options.polylines` is true).
    StopAssignment:
      type: object
      description: A single stop in a vehicle's route.
      properties:
        location_id:
          type: string
        arrival_time:
          type: string
        finish_time:
          type: string
        type:
          type: string
          enum:
          - pickup
          - dropoff
        too_late:
          type: boolean
        late_by:
          type: integer
          description: Minutes by which the stop is late (when overtime/lateness options used).
        distance:
          type: number
          description: Meters from the previous stop (when `polylines` is true).
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Routific error code (e.g. `ERR_DRIVER_NOT_SAME_REGION`).
        message:
          type: string
          description: Human-readable error message.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Routific issues per-account JWT tokens. Send as

        `Authorization: bearer <token>`.

        '
